{{!-- 使用默认模板布局 --}}
{{!< default }}

{{#contentFor "stylesheets"}}
<link rel='stylesheet' href='{{{path 'public/pages/blog/archives/archives.less'}}}' />
{{/contentFor}}

{{!-- 模板body BEGIN --}}
<div id="page"></div>
{{!-- 模板body END --}}

{{#contentFor "scripts"}}
<script src="{{{path 'public/pages/blog/archives/archives.js'}}}"></script>
{{/contentFor}}
