{{!-- 使用默认模板布局 --}}
{{!< default }}

{{#contentFor "stylesheets"}}
<link rel='stylesheet' href='{{{path 'public/pages/blog/index/index.less'}}}' />
{{/contentFor}}

{{!-- 模板body BEGIN --}}
<div id="page">
<a href="/auth/github">login as github</a>
</div>
{{!-- 模板body END --}}

{{#contentFor "scripts"}}
<script src="{{{path 'public/pages/blog/index/index.js'}}}"></script>
{{/contentFor}}
